.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: 400px;
    width: 400px;
    border: 1px solid rebeccapurple;
    margin: auto;
}

.counterDisplay {
    font-size: 18px;
    color: purple;

}

.counterButton {
    background-color: transparent;
    border-radius: 8px;
    border-color: rebeccapurple;
    font-size: 16px;
    background-color: purple;
    color: white;
    padding: 10px 18px;
    cursor: pointer;
}