.header { 
  background-color: purple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.avatar { 
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer { 
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}